header{
    width: 100%;
    color: black;
    position: absolute;
    z-index: 10;
    @include tab{
        position: static;
        height: 70px;
    }
    .header-wrap{
        width: 100%;
        height: 100%;
        padding: 68px 20px 68px 50px;
        display: flex;
        align-items: center;
        @include tab{
            width: 95%;
            margin: 0 auto;
            padding: 24px 0 24px 0;
        }
    }
}

.header-logo{
    font-size: 3.8rem;
    @include tab{
        width: 52%;
        font-size: 2.2rem;
    }
}


nav{
    width: 35%;
    @include tab{
        display: none;
    }
    ul{
        margin-left: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.8rem;
        li{
            color: #707070;
            a:hover{
                color: black;
                border-bottom: 1px black solid;
            }
        }
    }
    
}

.ham{
    display: none;
    @include tab{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 5%;
        height: 20%;
        margin-left: 37%;
        span{
            display: inline-block;
            width: 100%;
            height: 1px;
            border-color: black;
        }
    }
}

