/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

a:visited {
  color: inherti;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 12px;
  line-height: 1.67;
}

a {
  display: inline-block;
}

header {
  width: 100%;
  color: black;
  position: absolute;
  z-index: 10;
}

@media (max-width: 1024px) {
  header {
    position: static;
    height: 70px;
  }
}

header .header-wrap {
  width: 100%;
  height: 100%;
  padding: 68px 20px 68px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1024px) {
  header .header-wrap {
    width: 95%;
    margin: 0 auto;
    padding: 24px 0 24px 0;
  }
}

.header-logo {
  font-size: 3.8rem;
}

@media (max-width: 1024px) {
  .header-logo {
    width: 52%;
    font-size: 2.2rem;
  }
}

nav {
  width: 35%;
}

@media (max-width: 1024px) {
  nav {
    display: none;
  }
}

nav ul {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8rem;
}

nav ul li {
  color: #707070;
}

nav ul li a:hover {
  color: black;
  border-bottom: 1px black solid;
}

.ham {
  display: none;
}

@media (max-width: 1024px) {
  .ham {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 5%;
    height: 20%;
    margin-left: 37%;
  }
  .ham span {
    display: inline-block;
    width: 100%;
    height: 1px;
    border-color: black;
  }
}

#first-v {
  width: 100%;
  height: 100vh;
  position: relative;
}

.first-wrap {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.first-wrap .first-left {
  width: 41%;
  background-color: white;
}

@media (max-width: 1024px) {
  .first-wrap .first-left {
    display: none;
  }
}

.first-wrap .first-left .first-left_title {
  width: 100%;
  margin: 296px auto 290px;
  text-align: center;
  display: inline-block;
}

.first-wrap .first-left .first-left_title .title-ja {
  width: 100%;
  height: 38px;
  line-height: 38px;
  margin-bottom: 48px;
  font-size: 3.8rem;
  font-family: serif;
}

.first-wrap .first-left .first-left_title .title-eg {
  width: 100%;
  height: 128px;
  line-height: 128px;
  font-size: 5.5rem;
  font-family: monospace;
}

@media (max-width: 1024px) {
  .first-wrap .first-right {
    width: 100%;
  }
}

.first-wrap .first-right_title {
  display: none;
}

@media (max-width: 1024px) {
  .first-wrap .first-right_title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 118px;
    color: white;
    position: absolute;
    left: 50%;
    bottom: 50%;
    z-index: 10;
    -webkit-transform: translate(-50%, -30%);
            transform: translate(-50%, -30%);
  }
  .first-wrap .first-right_title .title-eg {
    width: 100%;
    height: 95px;
    line-height: 95px;
    font-size: 3.8rem;
    text-align: center;
  }
}

@media (max-width: 1024px) and (max-width: 599px) {
  .first-wrap .first-right_title .title-eg {
    font-size: 2.8rem;
  }
}

@media (max-width: 1024px) {
  .first-wrap .first-right_title .title-ja {
    width: 100%;
    height: 23px;
    line-height: 23px;
    font-size: 3.0rem;
    text-align: center;
  }
}

@media (max-width: 1024px) and (max-width: 599px) {
  .first-wrap .first-right_title .title-ja {
    font-size: 2.2rem;
  }
}

.first-wrap .first-right img {
  width: 100%;
  height: 100%;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
}

.concept-wrap {
  width: 100%;
  height: 967px;
  position: relative;
}

@media (max-width: 1024px) {
  .concept-wrap {
    height: 820px;
  }
}

.gray {
  width: 100%;
  height: 407px;
  background-color: #A193861F;
}

@media (max-width: 1024px) {
  .gray {
    height: 176px;
  }
}

.gray .title {
  width: 84.5%;
  height: 24px;
  margin: 0 auto;
  padding: 256px 0 127px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  color: #707070;
}

.gray .title::after {
  display: inline-block;
  content: "";
  width: 6%;
  margin-left: 22px;
  border-top: 1px #707070 solid;
}

@media (max-width: 1024px) {
  .gray .title {
    width: 95%;
    height: 13%;
    padding: 60px 0 91px;
    margin: 0 auto;
    letter-spacing: 3px;
  }
}

.concept-img {
  width: 100%;
  height: 400px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 28%;
  z-index: 10;
}

@media (max-width: 1024px) {
  .concept-img {
    width: 100%;
    height: 35%;
    top: 15%;
  }
}

@media (max-width: 599px) {
  .concept-img {
    height: 25%;
  }
}

.concept-img img {
  -o-object-fit: cover;
     object-fit: cover;
}

.concept-img .big {
  width: 55%;
  height: 100%;
  background-size: cover;
}

@media (max-width: 1024px) {
  .concept-img .big {
    width: 47%;
  }
}

@media (max-width: 599px) {
  .concept-img .big {
    width: 47%;
  }
}

.concept-img .small {
  width: 29%;
  height: 100%;
  background-size: cover;
}

@media (max-width: 1024px) {
  .concept-img .small {
    width: 47%;
  }
}

@media (max-width: 599px) {
  .concept-img .small {
    width: 47%;
  }
}

.brown {
  height: 560px;
  background-color: #A1938689;
}

@media (max-width: 1024px) {
  .brown {
    height: 644px;
  }
}

.brown .intro {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1024px) {
  .brown .intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    width: 98%;
    height: 70%;
  }
}

.brown .intro_main {
  width: 52%;
  height: 10%;
  margin: 389px 0 110px 174px;
  letter-spacing: 8px;
  font-size: 3.6rem;
  font-family: serif;
  color: white;
}

@media (max-width: 1024px) {
  .brown .intro_main {
    width: 70%;
    height: 4.5%;
    font-size: 1.8rem;
    text-align: center;
    margin: 300px 0 18px;
  }
}

@media (max-width: 599px) {
  .brown .intro_main {
    margin: 213px 0 18px;
  }
}

.brown .intro_sub {
  width: 48%;
  height: 25%;
  margin: 360px 150px 0 0;
  font-size: 1.36rem;
  font-family: sans-serif;
  color: white;
}

@media (max-width: 1024px) {
  .brown .intro_sub {
    width: 95%;
    height: 33%;
    font-size: 1.6rem;
    text-align: left;
    margin: 0 auto;
  }
}

#menu {
  width: 100%;
  height: 950px;
}

@media (max-width: 599px) {
  #menu {
    height: 1844px;
  }
}

.menu-wrap {
  height: 100%;
}

.title {
  width: 100%;
  height: 2.5%;
  padding: 256px 0 15px 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8rem;
  color: #707070;
}

.title::after {
  display: inline-block;
  content: "";
  width: 6%;
  margin-left: 22px;
  border-top: 1px #707070 solid;
}

@media (max-width: 1024px) {
  .title {
    width: 95%;
    height: 13%;
    padding: 60px 0 91px;
    margin: 0 auto;
    letter-spacing: 3px;
  }
}

@media (max-width: 599px) {
  .title {
    width: 95%;
    height: 5%;
    padding: 0;
    margin: 0 auto;
    letter-spacing: 3px;
  }
}

.menu-items {
  width: 87%;
  height: 58%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1024px) {
  .menu-items {
    width: 95%;
    height: 679px;
    margin: 0 auto;
  }
}

@media (max-width: 599px) {
  .menu-items {
    height: 95%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.menu-items .menu-item {
  width: 30%;
  height: 100%;
}

@media (max-width: 1024px) {
  .menu-items .menu-item {
    width: 30%;
    height: 100%;
  }
}

@media (max-width: 599px) {
  .menu-items .menu-item {
    width: 100%;
    height: 33%;
  }
}

.menu-items .menu-item img {
  width: 100%;
  height: 60%;
  background-size: cover;
}

@media (max-width: 1024px) {
  .menu-items .menu-item img {
    width: 100%;
    height: 40%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (max-width: 599px) {
  .menu-items .menu-item img {
    width: 100%;
    height: 55%;
  }
}

.menu-items .menu-item_course {
  margin: 13% 0;
  text-align: center;
  font-size: 3rem;
}

@media (max-width: 1024px) {
  .menu-items .menu-item_course {
    margin: 3% 0;
    font-size: 2.7rem;
  }
}

@media (max-width: 599px) {
  .menu-items .menu-item_course {
    width: 58%;
    height: 8%;
    margin: 1.7% 13px;
    text-align: left;
  }
}

.menu-items .menu-item_intro {
  height: 23%;
  margin: 0 10px 34px 11px;
  font-size: 1.6rem;
}

@media (max-width: 1024px) {
  .menu-items .menu-item_intro {
    margin: 0;
    height: 40%;
  }
}

@media (max-width: 599px) {
  .menu-items .menu-item_intro {
    width: 88%;
    height: 28%;
    margin: 0 24px 0 13px;
  }
}

.menu-items .menu-item_count {
  height: 3%;
  margin-right: 10px;
  font-size: 1.6rem;
  text-align: right;
}

@media (max-width: 599px) {
  .menu-items .menu-item_count {
    height: 7%;
    margin-right: 0;
  }
}

#access {
  height: 757px;
  background-color: #A193861F;
}

@media (max-width: 599px) {
  #access {
    height: 710px;
  }
}

@media (max-width: 599px) {
  .access-title {
    width: 95%;
    height: 134px;
    line-height: 134px;
    margin: 0 auto;
  }
}

.front-color {
  width: 100%;
  height: 396px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #D0C5BA;
}

@media (max-width: 599px) {
  .front-color {
    height: 513px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.adress {
  width: 40%;
}

@media (max-width: 599px) {
  .adress {
    height: 55%;
    width: 100%;
  }
}

.adress ul {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.adress ul li {
  margin-bottom: 24px;
  color: white;
  font-size: 1.6rem;
}

.adress ul li:nth-child(1) {
  margin-bottom: 30px;
  color: #00000038;
  font-size: 2.4rem;
}

.google-map {
  display: inline-block;
  width: 60%;
}

@media (max-width: 599px) {
  .google-map {
    height: 45%;
    width: 100%;
  }
}

.google-map .map {
  width: 100%;
  height: 100%;
}

#reserve {
  height: 342px;
  padding-top: 164px;
  background-color: white;
}

@media (max-width: 1024px) {
  #reserve {
    width: 100%;
  }
}

@media (max-width: 599px) {
  #reserve {
    height: 260px;
    padding-top: 50px;
  }
}

.reserve-wrap {
  width: 79%;
  margin: 0 auto;
  padding-top: 83px;
  border-top: 1px #70707036 solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1024px) {
  .reserve-wrap {
    width: 95%;
    margin: 0 auto;
  }
}

@media (max-width: 599px) {
  .reserve-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 95%;
    height: 210px;
    margin: 0 auto;
    padding-top: 42px;
  }
}

.reserve-wrap .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 599px) {
  .reserve-wrap .left {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
}

.reserve-wrap .left p {
  width: 258px;
  height: 32px;
  line-height: 32px;
  font-size: 3.2rem;
  text-align: center;
  color: #7070704D;
}

@media (max-width: 599px) {
  .reserve-wrap .left p {
    text-align: left;
    font-size: 1.8rem;
  }
}

.reserve-wrap .left .icon {
  height: 32px;
  line-height: 32px;
}

.reserve-wrap .left .icon .fab {
  font-size: 1.6rem;
}

.reserve-wrap button {
  width: 184px;
  height: 37px;
  line-height: 37px;
  text-align: center;
  color: #707070;
  background-color: white;
  border: 1px #707070 solid;
}

@media (max-width: 599px) {
  .reserve-wrap button {
    font-size: 1.8rem;
  }
}
/*# sourceMappingURL=main.css.map */